
<div class="col-xs-12 col-sm-6 col-sm-height col-sm-middle">
    <div class="row-no-margins">
        <div class="heading-text">Temperature Hourly <span class="test">text</span></div>
    </div>
    <div class="custom-chart">
        <base-chart *ngIf="dataLoaded"
            class="chart"
            id="lineChart"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></base-chart>
    </div>
  </div>