<div class="col-xs-12 col-md-6">
    <div class="row">
        <div class="heading-text">Temperature Hourly</div>
    </div>
    <!--<base-chart *ngIf="dataLoaded"
        class="chart"
        id="lineChart"
        [data]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colours]="lineChartColours"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></base-chart>-->

     <base-chart class="chart"
        [data]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [series]="lineChartSeries"
        [colours]="lineChartColours"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></base-chart>
</div>

