<div class="col-xs-12 col-sm-6 col-sm-height col-sm-middle">
    <div class="row-no-margins">
        <div class="heading-text">Wind Hourly</div>
    </div>
    <div class="wind">
        <table class="table">
            <tbody>
                <tr class="speed">
                    <td *ngFor="let speed of speeds">{{speed}} mph</td>
                </tr>
                <tr class="direction">
                    <td *ngFor="let direction of directions">{{direction}}</td>
                </tr>
                <tr class="arrow-row">
                    <td *ngFor="let arrow of arrows">
                        <img class="img-arrows" src="/images/arrow-blue.png" [ngStyle]="{'transform': arrow}">
                    </td>
                </tr>
                <tr class="times">
                    <td *ngFor="let time of times">{{time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>