<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="botton" class="navbar-toggle collapsed pull-right" data-toggle="collapsed" data-target="navbar-collapse" aria-expanded="false" (click)="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                <span> <img class="logo-image" src="images/weathr-logo.png"></span>
                Weathr
            </a>
        </div>
        <div [collapse]="isCollapsed" class="navbar-collapse collapse" id="navbar-collapse">
            <ul [hidden]="!isLoggedIn" class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link">My places</a></li>
                <li class="nav-item"><a class="nav-link">My account</a></li>
                <li class="nav-item"><a class="nav-link">Logout</a></li>
            </ul>
            <ul [hidden]="isLoggedIn" class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link">Login</a></li>
                <li class="nav-item"><a class="nav-link">Sign up</a></li>
            </ul>
        </div>
    </div>
</div>