<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th class="table-row-red">High AM</th>
                <th class="table-row-red">High FT</th>
                <th class="table-row-red">High PM</th>
                <th class="table-row-red">High FT</th>
                <th class="table-row-blue">Low AM</th>
                <th class="table-row-blue">Low FT</th>
                <th class="table-row-blue">Low PM</th>
                <th class="table-row-blue">Low FT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-row-blue">North Shore</td>
                <td>10:21</td>
                <td>8.04</td>
                <td>10:27</td>
                <td>9.38</td>
                <td>04:03</td>
                <td>0.75</td>
                <td>04:02</td>
                <td>1:31</td>
            </tr>
            <tr>
                <td class="table-row-blue">Boston Harbour</td>
                <td>10:21</td>
                <td>8.04</td>
                <td>10:27</td>
                <td>9.38</td>
                <td>04:03</td>
                <td>0.75</td>
                <td>04:02</td>
                <td>1:31</td>
            </tr>
            <tr>
                <td class="table-row-blue">South Shore</td>
                <td>10:21</td>
                <td>8.04</td>
                <td>10:27</td>
                <td>9.38</td>
                <td>04:03</td>
                <td>0.75</td>
                <td>04:02</td>
                <td>1:31</td>
            </tr>
            <tr>
                <td class="table-row-blue">Cape Cod</td>
                <td>10:21</td>
                <td>8.04</td>
                <td>10:27</td>
                <td>9.38</td>
                <td>04:03</td>
                <td>0.75</td>
                <td>04:02</td>
                <td>1:31</td>
            </tr>
            <tr>
                <td class="table-row-blue">Buzzards Bay</td>
                <td>10:21</td>
                <td>8.04</td>
                <td>10:27</td>
                <td>9.38</td>
                <td>04:03</td>
                <td>0.75</td>
                <td>04:02</td>
                <td>1:31</td>
            </tr>
            <tr>
                <td class="table-row-blue">Martha's Vineyard</td>
                <td>10:21</td>
                <td>8.04</td>
                <td>10:27</td>
                <td>9.38</td>
                <td>04:03</td>
                <td>0.75</td>
                <td>04:02</td>
                <td>1:31</td>
            </tr>
        </tbody>
    </table>
</div>