<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="small-text-blue">Not in Boston? Find your location...</div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Map" [(ngModel)]="address"
                (setAddress)="getAddress($event)" (click)="getBrowserLocation()" googleplace>
            <span class="input-group-btn">
            <button class="btn btn-default button-primary" type="button">
                <span class="color-white"><i class="glyphicon glyphicon-search"></i></span>
            </button>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-7">
        <div class="small-text-blue">Or select one of our favourite cities...</div>
        <div class="row-no-margins">
            <div class="row-height">
                <div class="col-xs-3 col-sm-3 col-sm-height col-sm-middle left-border">
                    <img class="cities-icons" src="/images/boston-zakim-bridge-blue_16x16.png" />
                    <span class="cities-text"> Boston </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height col-sm-middle left-border">
                    <img class="cities-icons" src="/images/tokyo-wall-blue_16x16.png" />
                    <span class="cities-text"> Tokyo </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height col-sm-middle left-border">
                    <img class="cities-icons" src="/images/london-big-ben-blue_16x16.png" />
                    <span class="cities-text"> London </span>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height col-sm-middle left-border right-border">
                    <img class="cities-icons" src="/images/plovdiv-roman-theatre-blue_16x16.png" />
                    <span class="cities-text"> Plovdiv </span>
                </div>
            </div>
        </div>
    </div>
</div>