$color: #0b90c4;
$color-light-grey: #D7D7D7;
$color-dark-grey: #A3A3A3;
$color-red: #d72a36;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

