<div class="row" id="local-weather">
    <div class="heading-text">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{weatherData.city + ', ' + weatherData.state}}
        <span class="split"> | </span>
        <span class="small-text">
          Today is <span class="small-text-red">much warmer</span> than yesterday
        </span>
    </div>
    <div class="row equal">
        <div class="col-xs-4 temperature">
            <span> {{weatherData.temp_f}}°</span>
            <span class="temperature-unit">F</span>
        </div>
        <div class="col-xs-4">
            <img src="images/day-clear.png">
        </div>
        <div class="col-xs-4 windmill-container">
            <img class="windmill-turbine" alt="Windmill turbines" src="images/windmill-turbines-grey-2.png">
            <img class="windmill-base" alt="Windmill base" src="images/windmill-base-grey.png">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="small-text"> Feels like
            <span class="small-text-red">{{weatherData.feelslike_f}} °F</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-text">Clear Sunny </div>
    </div>
    <div class="col-xs-4">
        <div class="small-text">
            <span class="small-text-red"> {{weatherData.wind_mph}}</span> mph
            <span class="small-text-red">{{weatherData.wind_dir}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 measurements right-col-border">
        <div class="small-text">
            Sun
            <div>
                <img src="images/sun-up.png"> {{sunrise}} AM
                <img class="image-upside-down" src="images/sun-up.png"> {{sunset}} PM
            </div>
        </div>
    </div>
    <div class="col-xs-4 measurements right-col-border">
        <div class="small-text">
            Moon
            <div>
                <img src="images/moon-up-blue.png"> {{moonrise}} PM
                <img class="image-upside-down" src="images/moon-up-blue.png"> {{moonset}} AM
            </div>
        </div>
    </div>
    <div class="col-xs-4 measurements">
        <div class="small-text">
            Waxing
            <div class="moon-phase"></div>
            <div>96% luminous</div>
        </div>
    </div>
</div>